body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
  
  .bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("../images/image4.png");
    min-height: 75%;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .w3-sand, .w3-hover-sand:hover {
      color: #000!important;
      background-color: #e0dfdc!important;
  }