<!DOCTYPE html>
<html>
<title>Crop Doc</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% block body %}

<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="#about" class="w3-button w3-block w3-black">ABOUT</a>
    </div>
    <div class="w3-col s3">
      <a href="#diagnose" class="w3-button w3-block w3-black">DIAGNOSE</a>
    </div>
    <div class="w3-col s3">
      <a href="#lg" class="w3-button w3-block w3-black">LIQUID GALAXY</a>
    </div>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
</header>

<!-- Add a background color and large text to the whole page -->
<main id="pagecontent" class="w3-sand w3-large">
<!-- Info Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT CROPDOC</span></h5>
    <img src="../static/logos/Logos.png" style="width:100%;max-width:1000px" class="w3-margin-top">
    <p>CropDoc is an application designed to help organizations and agriculture professionals to detect and diagnose potential diseases present on their crops.</p>
    <p>It has been developed by Guillem Felis at the Liquid Galaxy Lab in Lleida, Spain, as part of the Google Summer of Code 2021 program.</p>
    <p></p>
  </div>
</div>

<!-- Diagnose Container -->
<div class="w3-container" id="diagnose">
  <div class="w3-content" style="max-width:700px">
 
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">DIAGNOSE</span></h5>
  
    <div class="w3-row w3-center w3-card w3-padding">
      <form id="captureForm" method="post" action="">
          <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Photo name" name="photo_name" required name="Name"></p>
          <input id="hiddenAction" type="hidden" name="click" value="Capture"/>
          <p><button id="captureButton" class="w3-button w3-black" type="submit" onclick=""><i class="fa fa-camera"></i></button></p>
      </form>
    </div>

    <div id="Capture" class="w3-container menu w3-padding-48 w3-card">

      <img src="{{ url_for('video_feed') }}" height="80%" class="center">
    </div>  

    <img src="../static/images/image3.jpg" style="width:100%;max-width:1000px;margin-top:32px;">
    <p>At the moment, CropDoc is able to diagnose the presence of rust, scab, powdery mildew and the frog eye leaf spot fungus in apple leaves. Head to the section "Diagnose" to test this functionality.</p>
    <p>This functionality is specially designed for the AgroTricorder, an edge device developed for this project which is able to take images and process them at a high speed, ideally distributed across organizations in the future.</p>
    <p><strong>Species implemented:</strong> <i>Malus domestica leaves</i>, known as common apple leaves. </p>
    <p><strong>Diseases implemented for apple leaves:</strong> rust, scab, powdery mildew, frog eye leaf spot.</p>
  </div>
</div>

<!-- Contact/Area Container -->
<div class="w3-container" id="lg" style="padding-bottom:32px;">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">LIQUID GALAXY</span></h5>
    <p>Using the liquid galaxy technology, the following demo demonstrates the visualization capabilities of such technology for this project.</p>
    <img src="../static/logos/LG-logo.png" class="w3-image" style="width:100%">
    <p><button id="playDemoButton" class="w3-center w3-button w3-black" type="button" name="playDemo" value="play" onclick="">PLAY DEMO</button></p>
    <p><button id="cleanKMLButton" class="w3-center w3-button w3-black" type="button" name="cleanKMLDemo" value="clean" onclick="">CLEAN KMLS</button></p>
  </div>
</div>

<!-- End page content -->
</main>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
  <p>Find all the code at my <a href="https://github.com/gfelis/cropDoc" title="W3.CSS" target="_blank" class="w3-hover-text-green">github repo</a></p>
</footer>

<script src="../static/js/main.js"></script>

</body>
{% endblock body %}
</html>
